@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Belanosima:wght@400;600;700&family=Delicious+Handrawn&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Radio+Canada:ital,wght@0,314;1,314&family=Trocchi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital@1&family=Radio+Canada:ital,wght@0,314;1,314&family=Trocchi&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Radio Canada";
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #7dabb3;
}

header {
  width: 100%;
}

main {
  flex-direction: column;
  background-color: #6b969d;
  display: flex;
  width: 100%;
  height: 80vh;
}

header .logo {
  background-color: #fcfcfb;
  width: 100%;
  height: 3%;
  position: absolute;
  top: 0;
  left: 0;
}

header .perfil {
  padding: 15px 0;
  font-size: 12px;
  background: transparent;
  color: white;
  font-family: "Radio Canada Big";
  font-weight: 500;
  display: flex;
  width: 150px;
  height: 150px;
}

header .legenda {
  display: inline-block;
  margin-top: 25px;
  white-space: nowrap;
}

header .legenda>h1 {
  margin-top: 4%;
  font-weight: 300px;
  display: flex;
  font-family: "Radio Canada Big";
}

header .legenda>h2 {
  font-weight: 300px;
  display: flex;
}

header .legenda>h3 {
  font-weight: 300px;
  text-align: left;
  color: yellow;
  display: inline-flex;
  vertical-align: middle;
}

header .legenda>i {
  display: inline-flex;
  color: yellow;
  vertical-align: middle;
  margin: 5px;
}

header .perfil>img {
  width: 200px;
  height: 135px;
  border: 4px solid white;
  border-radius: 300px;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 7%;
}

header .pingu {
  width: 10px;
  height: 150px;
  margin-top: 53px;
  margin-left: 87%;
  display: flex;
  position: absolute;
}

.tabela {
  margin-right: 5%;
  margin-bottom: 1%;
  display: flex;
  background-color: #fcfcfb;
  width: 100%;
  height: 6%;
  padding: 0px;
  align-items: center;
}

.tabela ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tabela a {
  font-family: "Preahvihear";
  background-color: white;
  font-size: 14.5px;
  color: #6b969d;
  border-radius: 10px;
  padding-right: 121px;
  padding-left: 141px;
  transition: all 0.5s ease;
}

.tabela a:hover {
  color: white;
  background: #7dabb3;
  cursor: pointer;
}

.livros {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  margin-right: 30px;
  margin-left: 30px;
}

.livro>img {
  width: 190px;
  height: 270px;
  align-items: center;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 60px;
}

.livro>h4 {
  width: 190px;
  color: white;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.livro>h5 {
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin-left: 60px;
  color: white;
  padding: 3px;
}

.livro>i {
  display: inline-flex;
  align-items: center;
  color: white;
  margin: 5px;
  font-size: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

.livrosfavs {
  display: flex;
  justify-content: left;
  margin-left: 2%;
}

.livrofav>img {
  width: 190px;
  height: 270px;
  align-items: center;
  display: block;
  margin-top: 5px;
  margin-right: 50px;
}

.livrofav>h4 {
  width: 190px;
  color: white;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.livrofav>h5 {
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin-left: 60px;
  color: white;
  padding: 3px;
}

.livrofav>i {
  display: inline-flex;
  align-items: center;
  color: white;
  margin: 5px;
  font-size: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

fav {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  vertical-align: middle;
  color: yellow;
}

.adicionar{
  background-color: #7dabb3;
  width: 190px;
  height: 270px;
  align-items: center;
  display: flex;
  margin-top: 5px;
  margin-right: 50px;
}

.adicionar > p{
  font-family: "Preahvihear";
  display: block;
  padding: 2%;
  border-radius: 100px;
  width: 42%;
  height: 30%;
  margin-left: 50px;
  align-items: center;
  text-align: center;
  font-size: 45px;
  color: #fcfcfb;
  background-color: #6b969d;
  cursor: pointer;
}

h1{
  width: 190px;
  color: white;
  align-items: center;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

button {
  width: 7vh;
  height: 7vh;
  position: absolute;
  right: 1%;
  top: 6%;
  cursor: pointer;
}

button.menu {
  background-color: #7dabb3;
  border: 0;
  
}

button .linha {
  background-color: #fcfcfb;
  display: block;
  height: 4px;
  width: 70%;
  margin: 5px auto;
  border-radius: 5px;
  transition: 0.5s;
}

button.ativar .linha:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

button.ativar .linha:nth-child(2) {
  width: 0%;
}

button.ativar .linha:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

#menu-list {
  position: absolute;
  top: 6.3%;
  right: 4%;
  width: 10vw;
  height: 0vh;
  overflow: hidden;
  background-color: #4d757a;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.425);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: 0.5s;
  margin-top: 2px;
}

#menu-list.ativar {
  height: 25vw;
}

#menu-list li {
  font-size: 15px;
}

#menu-list a {
  color: #fcfcfb;
  padding: 5px 30px;
  border-radius: 10px;
  transition: 0.3s;
  font-family: 'Preahvihear';
}

#menu-list a:hover {
  background:#7dabb3;
  font-family: 'Preahvihear';
}

#menu-list img{
  width: 70%;
  height: 20%;
  display: block;
}

.estante{
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-around;
  flex-direction:row;
  margin-right: 30px;
  margin-left: 0px;
  font-size: 15px;
}
.estante>h1 {
  display: inline-flex;
  text-align: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 130px;
  top: 233px;
}

.estante>h2 {
  display: inline-flex;
  text-align: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 805px;
  top: 237px;
}

.estante>i {
  display: inline-flex;
  align-items: center;
  color: white;
  position: absolute;
  left: 522px;
  top: 245px;
}
.estante>p {
  display: inline-flex;
  align-items: center;
  color: white;
  position: absolute;
  left: 1195px;
  top: 245px;
}

.livrosestantes {
  display: flex;
  justify-content:center;
  left: 130px;
  top: 300px;
  overflow-x: scroll;
  position: absolute;
  justify-content: space-around;
  flex-direction: row;
  width: 415px;
}

.livroestante>img {
  width: 150px;
  height: 215px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 20px;
}

.livrosestantess{
  display: flex;
  justify-content:center;
  left: 815px;
  top: 300px;
  overflow-x: scroll;
  position: absolute;
  justify-content: space-around;
  flex-direction: row;
  width: 415px;
}

.livroestantes>img {
  width: 150px;
  height: 215px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 20px;
}

.livro a {
  transition: 0.9s ease-in-out;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  border: 7px;
  margin: 4px;
  display: block;
  text-align: center;
  align-items: center;
  background-color: #7dabb3;
  cursor: pointer;
  font-family: "Radio Canada Big";
  margin-right: 60px;
}

.livro a:hover {
  transition: 0.3s ease-in-out;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  border: 7px;
  margin: 4px;
  display: block;
  text-align: center;
  align-items: center;
  background-color: #4b757b;
  cursor: pointer;
  font-family: "Radio Canada Big";
  margin-right: 60px;
}
