@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Belanosima:wght@400;600;700&family=Delicious+Handrawn&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap");
*{
    padding: 0%;
    margin: 0%;
}
body{
    width: 100%;
    height: 20%;
    background-color: #7dabb3;
}
.logo{
    display: flex;
    background-color: #fcfcfb;
    width: 100%;
    height: 3%;
    position:fixed;
    top: 0%;
}

h1{
    font-family: 'Preahvihear';
    margin-left: 40%;
    margin-top: 30px;
    font-size: 40px;
    color: white;
 }
 .conteiner-slider{
    display: flex;
    width: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.conteiner-imagens{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 850px;
}

.slider{
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    width: 100%;
    border-radius: 15px;
}

.on{
    opacity: 1;
}
#prev-button, #next-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

#prev-button{
    transform: rotate(180deg);
}

.pingu img{
    width: 380px;
    height: 380px;
    top: 58%;
    margin-left: 855px;
    display: block;
    position: absolute;
    box-shadow: 20px #d5f5fa;
}
.home a{
    display: flex;
    width: 200px;
    height: 70px;
    top: 5%;
    left: 95%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
}
.home img{
    width: 40px;
    height: 40px;
}