@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Belanosima:wght@400;600;700&family=Delicious+Handrawn&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');

*{
    margin: 0%;
    padding:0%;
    font-family:'Preahvihear';
    outline: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b969d;
}
main{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
}
.logo{
    display: flex;
    background-color: #fcfcfb;
    width: 100%;
    height:13%;
    position:fixed;
    top: 0%;
}
.logo img{
    display: block;
    margin: 0 auto;
    width: 10%;
}
.logo i{
    margin:20px;
    color: #4b757b;
    font-size:30px;
}
h1{
    margin-top: 40px;
    padding: 25px 30px;
    font-size: 40px;
    color: white;
}
.formulario{
    width:40% ;
    height:58%;
    background-color: white;
    border-radius: 15px;
    display:flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.formulario2{
    width:40% ;
    height:60%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario img{
    position:fixed;
    left: 20%;
    width: 20%;
    margin-top: 2%;
    display: block;
    align-items: end;
}
.formulario2 img{
    width: 300px;
    margin-top: 90px;
    margin-left: 450px;
    display: block;
    align-items: end;
    position: fixed;
    box-shadow: 20px #d5f5fa;
}
.email-telefone{
    font-size: 25px;
    margin-top: 45px;
    background: transparent;
    border: 0;
    color: #6b969d;
    align-items: center;
    cursor: pointer;
}

.entrar-google{
    padding: 7px 45px;
    border-radius: 40px;
    color: white;
    border:0;
    background:#4b757b;
    font-size:20px;
    align-items: center;
    cursor: pointer;
}

hr{
    color:#6c969d;
    border-color: #6b969d;
    box-shadow: #6b969d;
    width:70%;
}

p{
    margin: 1px;
    color: #6b969d;
    font-size: 20px;
}

#btn-entrar{
    border:0;
    background:transparent;
}

a,#btn-entrar{
    transition: 0.4s ease-in-out;
    margin: 4%;
    font-size: 13px;
    color:#f3af49;
}
a:hover,#btn-entrar:hover{
    padding: 5px 40px;
    border-radius: 10px;
    color: white;
    border:0;
    background:#f3af49;
    cursor:pointer;
}
label{
    margin: 10px;
    color: #6b969d;
    font-size: 20px;
}

input::placeholder{
    Color: #6b969d
    }